<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenCV_Detection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>381FE0EB241CB285BD74D098</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D444D6EF2C365D0C65264D15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9FD5C4F30E0401B396AEC1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAFE023D1C76396C006F0EA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
